<a href="https://colab.research.google.com/github/Kiran-01/Projects/blob/master/Sample_Retail_Store.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Reading the Dataset
df = pd.read_csv('RetailDatalog.csv')

In [ ]:
df.head()

,ProductID,ProductWeight,Fat_Content,PackingVisibility,ProductCategory,MRP,Outlet-ID,Outlet_started_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,*Dairy#,249.8092,OUT049..,1999,Medium,Tier 1,Supermarket? Type1!,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks##,48.2692,OUT018,2009,Medium,Tier 3,Supermarket? Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049..,1999,Medium,Tier 1,Supermarket? Type1!,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,#Grocery Store#,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket? Type1!,994.7052

In [ ]:
# Checking for the null values in dataset
df.isnull().sum()

ProductID                  0
ProductWeight           1463
Fat_Content                0
PackingVisibility          0
ProductCategory            0
MRP                        0
Outlet-ID                  0
Outlet_started_Year        0
Outlet_Size             2410
Outlet_Location_Type       0
Outlet_Type                0
Item_Outlet_Sales          0
dtype: int64

In [ ]:
#Filling Null values 
df.ProductWeight.fillna(df.ProductWeight.mean, inplace=True)

In [ ]:
df.ProductWeight.isnull().sum()

0

In [ ]:
df.ProductCategory.nunique()

16

In [ ]:
df.Outlet_Size.fillna('NA', inplace = True)

In [ ]:
#Checking for the null values
df.isnull().sum()

ProductID               0
ProductWeight           0
Fat_Content             0
PackingVisibility       0
ProductCategory         0
MRP                     0
Outlet-ID               0
Outlet_started_Year     0
Outlet_Size             0
Outlet_Location_Type    0
Outlet_Type             0
Item_Outlet_Sales       0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductID             8523 non-null   object
 1   ProductWeight         8523 non-null   object
 2   Fat_Content           8523 non-null   object
 3   PackingVisibility     8523 non-null   float64
 4   ProductCategory       8523 non-null   object
 5   MRP                   8523 non-null   float64
 6   Outlet-ID             8523 non-null   object
 7   Outlet_started_Year   8523 non-null   int64
 8   Outlet_Size           8523 non-null   object
 9   Outlet_Location_Type  8523 non-null   object
 10  Outlet_Type           8523 non-null   object
 11  Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 532.8+ KB

In [ ]:
#Converting categorical data into numerical data

from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
df.Fat_Content = enc.fit_transform(df.Fat_Content)
df.ProductCategory = enc.fit_transform(df.ProductCategory)
df.Outlet_Size = enc.fit_transform(df.Outlet_Size)
df.Outlet_Location_Type = enc.fit_transform(df.Outlet_Location_Type)
df.Outlet_Type = enc.fit_transform(df.Outlet_Type)
df.head()

,ProductID,ProductWeight,Fat_Content,PackingVisibility,ProductCategory,MRP,Outlet-ID,Outlet_started_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,1,0.016047,0,249.8092,OUT049..,1999,1,0,1,3735.1380
1,DRC01,5.92,2,0.019278,14,48.2692,OUT018,2009,1,2,2,443.4228
2,FDN15,17.5,1,0.016760,10,141.6180,OUT049..,1999,1,0,1,2097.2700
3,FDX07,19.2,2,0.000000,6,182.0950,OUT010,1998,2,2,0,732.3800
4,NCD19,8.93,1,0.000000,9,53.8614,OUT013,1987,0,2,1,994.7052

In [ ]:
#Dropping Unnecessary columns
df.drop(['ProductID','Outlet-ID'], axis = 1, inplace = True)

In [ ]:
#Checking Unique values in Fat_Content column
df.Fat_Content.unique()

array([1, 2, 3, 0, 4])

In [ ]:
# Data Mapping

In [ ]:
X = df.drop(['Item_Outlet_Sales','ProductWeight','Outlet_started_Year'], axis = 1)

In [ ]:
y = df['Item_Outlet_Sales']

In [ ]:
X

,Fat_Content,PackingVisibility,ProductCategory,MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1,0.016047,0,249.8092,1,0,1
1,2,0.019278,14,48.2692,1,2,2
2,1,0.016760,10,141.6180,1,0,1
3,2,0.000000,6,182.0950,2,2,0
4,1,0.000000,9,53.8614,0,2,1
...,...,...,...,...,...,...,...
8518,1,0.056783,13,214.5218,0,2,1
8519,2,0.046982,1,108.1570,2,1,1
8520,1,0.035186,8,85.1224,3,1,1
8521,2,0.145221,13,103.1332,1,2,2
8522,1,0.044878,14,75.4670,3,0,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductWeight         8523 non-null   object
 1   Fat_Content           8523 non-null   int32
 2   PackingVisibility     8523 non-null   float64
 3   ProductCategory       8523 non-null   int32
 4   MRP                   8523 non-null   float64
 5   Outlet_started_Year   8523 non-null   int64
 6   Outlet_Size           8523 non-null   int32
 7   Outlet_Location_Type  8523 non-null   int32
 8   Outlet_Type           8523 non-null   int32
 9   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(3), int32(5), int64(1), object(1)
memory usage: 466.2+ KB

In [ ]:
df.MRP.nunique()

5938

In [ ]:
# normalizing column between zero and one.
norm = ['MRP']
X[norm]=X[norm].apply(lambda x:(x-x.min())/ (x.max()-x.min()))
X.head()

,Fat_Content,PackingVisibility,ProductCategory,MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1,0.016047,0,0.927507,1,0,1
1,2,0.019278,14,0.072068,1,2,2
2,1,0.016760,10,0.468288,1,0,1
3,2,0.000000,6,0.640093,2,2,0
4,1,0.000000,9,0.095805,0,2,1

In [ ]:
y=(y-y.min())/ (y.max()-y.min())
y.head()

0    0.283587
1    0.031419
2    0.158115
3    0.053555
4    0.073651
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
#Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [ ]:
# Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error  
mse= mean_absolute_error(y_test, y_pred_lr)

In [ ]:
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(lr_model, X_train, y_train, cv=10)
print(f"The accuracy of linear Regression Model is \t{accuracy.mean()}")
print(f'The Deviation in the accuarcy is \t{accuracy.std()}')

The accuracy of linear Regression Model is 	0.50187195045129
The Deviation in the accuarcy is 	0.023311284194217973

In [ ]:
import math
print(f"Mean Squared Error is \t{mse}")
print(f"Root Mean Squared Error is \t{math.sqrt(mse)}")

Mean Squared Error is 	0.07027113249961935
Root Mean Squared Error is 	0.26508702816173285

In [ ]:
#Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=  100)
rf.fit(X_train, y_train)

RandomForestRegressor()

In [ ]:
y_pred_rf = rf.predict(X_test)

In [ ]:
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(rf, X_train, y_train, cv=10)
print(f"The accuracy of random Forest Regressor Model is \t{accuracy.mean()}")
print(f'The Deviation in the accuarcy is \t{accuracy.std()}')

The accuracy of random Forest Regressor Model is 	0.5439097826935659
The Deviation in the accuarcy is 	0.035482537057161555

In [ ]:
import math
mse= mean_absolute_error(y_test, y_pred_rf) 
print(f"Mean Squared Error is \t{mse}")
print(f"Root Mean Squared Error is \t{math.sqrt(mse)}")

Mean Squared Error is 	0.06000709370493144
Root Mean Squared Error is 	0.24496345381491386

In [ ]:
#SVR

In [ ]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(X_train, y_train)
y_pred_svr = svr.predict(X_test)

In [ ]:
accuracy = cross_val_score(svr, X_train, y_train, cv=10)

In [ ]:
# accuracy = cross_val_score(y_pred_lr, X_train, y_train, cv=10)
print(f"The accuracy of random Forest Regressor Model is \t{max(accuracy)}")
print(f'The Deviation in the accuarcy is \t{(accuracy.std())}')

The accuracy of random Forest Regressor Model is 	0.6023080981494175
The Deviation in the accuarcy is 	0.024927567672554104

In [ ]:
mse= mean_absolute_error(y_test, y_pred_svr) 
print(f"Mean Squared Error is \t{mse}")
print(f"Root Mean Squared Error is \t{math.sqrt(mse)}")

Mean Squared Error is 	0.06555537321977091
Root Mean Squared Error is 	0.2560378355239141

##

# Results

### Linear Regression : 50 %
### Random Forest Regressor : 54%
### SVR : 60%